# Example: Override respecConfig for W3C deployment and validators.
name: Echidna Auto-publish test 2
on:
  pull_request:
    paths: ["spec/**"]
  push:
    branches: [main]
    paths: ["spec/**"]
  workflow_dispatch:
jobs:
  main:
    name: Echidna Auto-publish CG-DRAFT test 2
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: bikeshed
          SOURCE: spec/index.bs
          VALIDATE_LINKS: false
          VALIDATE_MARKUP: false
          BUILD_FAIL_ON: nothing
          GH_PAGES_BRANCH: gh-pages
          DESTINATION: index.html
          GH_PAGES_BUILD_OVERRIDE: |
            status: w3c/CG-DRAFT
            TR: https://w3c-cg.github.io/n3Builtins/
